:root{
    --mainColor:#eaeaea;
    --secondaryColor:#fff;
    
    --borderColor:#c1c1c1;

    --mainText:black;
    --secondaryText:#4b5156;

    --themeDotBorder:#24292e;

    --previewBg:rgb(251,249,243,0.8);
    --previewShadow:#f0ead6;

    --buttomColor:black;
}

html, body{
    padding: 0;
    margin: 0;

}

body *{
    transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Roboto', sans-serif;
}

p, li, span, label, input, textarea{
    color: var(--secondaryText);
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #17a2b8;
}

ul{
    list-style: none;
}

h1{font-size: 40px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.home-button{
    background-color: var(--mainColor);
    overflow: hidden;
    border-bottom: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
}

/* .home-button ul{
    float: left;
} */

.topnav {
    background-color: #17a2b8;
    overflow: hidden;
    border-radius: 10px;   
    border: 2px solid var(--borderColor);
}

.topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav-right {
    float: right;
}  

.greeting-wrapper{
    display: grid;
    text-align: left;
    justify-content: space-between;
    grid-template-areas: 
        'greeting-wrapper theme-options-wrapper'
}

#theme-options-wrapper{
    display: flex;
    justify-content:center;
    padding-top: 50px;
}

.theme-dot{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid var(--themeDotBorder);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0,75); 
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0,75);
    box-shadow:-1px 1px 3px -1px rgba(0,0,0,0,75);

    cursor: pointer;
}

.theme-dot:hover{
    border-width: 5px;
}

#light-mode{
    background-color: #fff;
}

#dark-mode{
    background-color: #192734;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0,75); 
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0,75);
    box-shadow:-1px 1px 3px -1px rgba(0,0,0,0,75);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column';
}

.nav-wrapper{
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 5px 5px 0 0;
    /* border: 1px dashed lightcoral; */
}

#navigation a{
    color: var(--mainText);
}

#navigation{
    margin: 0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.dots-wrapper{
    display: flex;
    padding: 10px;
}

#dot-1{
    background-color: #fc6058;;
}

#dot-2{
    background-color: #fec02f;;
}

#dot-3{
    background-color: #2aca3e;;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0,75); 
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0,75);
    box-shadow:-1px 1px 3px -1px rgba(0,0,0,0,75);
}

.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
    /* border: 1px dashed lightcoral; */
}

#profile_pic{
    display: block;
    margin: 0 auto;
    height: 400px;
    width: 350px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;

    padding-top: 50px;
    padding-bottom: 50px;
    /* border: 1px dashed lightcoral; */
}

#preview-shadow{
    background-color: var(--previewShadow);
    width: 450px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview{
    width: 450px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}

.corner{
    width: 7px;
    height: 7px;
    border: 1.5px solid #17a2b8;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
}

#corner-tl{
    top: -5px;
    left: -5px;
}

#corner-tr{
    top: -5px;
    right: -5px;
}

#corner-br{
    bottom: -5px;
    right: -5px;
}

#corner-bl{
    bottom: -5px;
    left: -5px;
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
}

.social-links{
    display: grid;
    align-content: center;
    text-align: center;
}

.social-menu {
	display: flex;
    justify-content: center;
	list-style-type: none;
}

.social-menu i{
    display: flex;
    width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 35px;
	margin-right: 15px;
	transition: all 0.2s ease-in-out;
    justify-content: center;
}

td:nth-child(even), th:nth-child(even) {
    background-color: var(--previewBg);
}

th {
    font-size: 22px;
    border-bottom: 2px solid var(--borderColor);
}

td {
    font-size: 18px;
}


#skills{
    border-radius: 10px;   
    text-align: center;
    color: var(--mainText);
    border: 2px solid var(--borderColor);
}

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post{
    border: 1px solid var(--borderColor);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0,75); 
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0,75);
    box-shadow:-1px 1px 3px -1px rgba(0,0,0,0,75);
}

.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-preview{
    background-color: var(--secondaryColor);
    padding: 15px;
}

.post-title{
    color: var(--mainText);
    margin: 0;
}

.post-intro{
    color: var(--secondaryText);
    font-size: 14px;
}

#reading_pic{
    display: grid;
    height: 420px;
    width: 1190px;
    object-fit: cover;
    border-radius: 10px;   
    border: 2px solid var(--borderColor);
}

.reading-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 380px);
    gap: 30px;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 15px;
}

.reading-preview{
    background-color: var(--secondaryColor);
    padding: 15px;
    border-radius: 10px;   
}

.reading-title{
    color: var(--mainText);
    margin: 0;
    font-style: italic;
}

.reading-author{
    font-style:italic;
    font-size: 14px;
}

.reading-intro{
    color: var(--secondaryText);
    font-size: 14px;
}

.travel-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    gap: 25px;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 15px;
}

.travel-wrapper a{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 46px;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    border: 3px solid --borderColor;
    color: #fff;
    font-size: 20px;
    font-family: arial;
    position: relative;
    overflow: hidden;
    background: #17a2b8;
    transition: all .35s;
    font-style: oblique;
}

.travel-wrapper a:hover{
    background-color: forestgreen;
    color: #fff;
}

/* change the size of the webpage with the screen */
@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}

@media screen and (max-width: 800px){
    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper'
            'left-column'
            'right-column';
    }

    .right-column{
        justify-content: center;
    }
}